.gridLayout {
  display: grid;
  justify-items: center;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.description {
  font-weight: bold;
}
